.idea/
.vscode/
node_modules/
build/
tmp/
temp/
mobile/npm-debug.log
mobile/.DS_Store

mobile/*.js.map
mobile/app/**/*.js
mobile/e2e/**/*.js
mobile/e2e/reports/
mobile/hooks/
mobile/lib/
mobile/node_modules/
mobile/platforms/
mobile/tmp/
mobile/typings/
mobile/report/
mobile/test-results.xml